@import "tailwindcss";

@theme {
  --color-amber-50: #fefcfb;
  --color-amber-700: #8c5a3c; /* Wood brown */
  --color-amber-800: #704830;
  --color-amber-600: #a67c52;
}

@layer base {
  html, body {
    @apply antialiased selection:bg-amber-100 selection:text-amber-900;
    overflow-x: hidden !important;
    width: 100% !important;
    position: relative;
    touch-action: pan-y; /* Bloquea zoom y movimiento horizontal */
    overscroll-behavior-x: none; /* Evita el "rebote" lateral en iOS */
  }

  /* Evitar zoom automático en iOS cuando tocas un input */
  input, select, textarea {
    font-size: 16px !important; 
  }
  
  @media (max-width: 640px) {
    input, select, textarea {
      font-size: 14px !important; /* Ajuste visual para mobile pero manteniendo el límite de zoom */
    }
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}

@media print {
  .no-print {
    display: none !important;
  }
}
