@import "tailwindcss";

@theme {
  --color-amber-50: #fefcfb;
  --color-amber-700: #8c5a3c; /* Wood brown */
  --color-amber-800: #704830;
  --color-amber-600: #a67c52;
}

@layer base {
  body {
    @apply antialiased selection:bg-amber-100 selection:text-amber-900;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}

@media print {
  .no-print {
    display: none !important;
  }
}
